<!DOCTYPE html>
<html>
  <head>
    <title>Inventory App by Chris Karampagias</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body class="relative min-h-screen">
    <main><%- content %></main>
    <footer
      class="absolute bottom-0 h-[70px] text-white bg-black w-full text-center text-5xl"
    >
      &copy; 2023 Chris Karampagias
    </footer>
  </body>
</html>
